/* CSS used only for the home page */

/* Style for the logo in the upper left */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  filter: drop-shadow(5px 5px 5px black);
}

/* centers the button that routes to the quiz */
.quiz-link {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/* spinning jack-jack style, not in use currently */
.jackjack {
  position:absolute;
  display: flex;
  /* flex: 1; */
  left: 0;
  width: 100px;
  /* height: 6rem; */
}
 /* left spinning jack-jack style (makes translucent) not in use currently */ 
.left {
  opacity: 0.5;
  animation: jackjack-animation-left 5s linear infinite alternate;
}

/* Limits left jack-jack's spinning, not in use currently */
@keyframes jackjack-animation-left {
  from {
    /* left: 0; */
    transform: translateX(0%)
  }
  to {
    /* right: 0; */
    transform: translateX(30vw) rotate(720deg)
  }
}

/* right spinning jack-jack style (makes translucent) not in use currently */ 
.right {
  opacity: 0.5;
  animation: jackjack-animation-right 5s linear infinite alternate;
}

/* Limits right jack-jack's spinning, not in use currently */
@keyframes jackjack-animation-right {
  from {
    /* left: 0; */
    transform: translateX(95vw)
  }
  to {
    /* right: 0; */
    transform: translateX(60vw) rotate(720deg)
  }
}

