.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  filter: drop-shadow(5px 5px 5px black);
}

.quiz-link {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.jackjack {
  position:absolute;
  display: flex;
  /* flex: 1; */
  left: 0;
  width: 100px;
  /* height: 6rem; */
}
  
.left {
  opacity: 0.5;
  animation: jackjack-animation-left 5s linear infinite alternate;
}

@keyframes jackjack-animation-left {
  from {
    /* left: 0; */
    transform: translateX(0%)
  }
  to {
    /* right: 0; */
    transform: translateX(30vw) rotate(720deg)
  }
}

.right {
  opacity: 0.5;
  animation: jackjack-animation-right 5s linear infinite alternate;
}

@keyframes jackjack-animation-right {
  from {
    /* left: 0; */
    transform: translateX(95vw)
  }
  to {
    /* right: 0; */
    transform: translateX(60vw) rotate(720deg)
  }
}
