.nav-image, .dropdown-image {
  text-align: center;
  width: 3rem;
  height: auto;
}

.color-nav {
  background-color: rgb(170, 10, 0);
}

#dropdown-button-dark-example1 {
  background-color: rgb(244, 185, 0);
}

.active {
  text-decoration: underline;
}

/* .navbar-nav {
  background-color: blue;
} */
