/* .nav-image, .dropdown-image { */
.nav-image {
  text-align: center;
  width: 3rem;
  height: auto;
}

.color-nav {
  background-color: rgb(170, 10, 0);
}

#dropdown-button-dark-example1 {
  background-color: black;
  color: white;
}

.active {
  text-decoration: underline;
}

.dropdown {
  width: 200px;
}

.dropdown-image {
  width: 3rem;
}

.dropdown-text {
  float: right;
  vertical-align: middle;
}

/* .navbar-nav {
  background-color: blue;
} */
