/* The CSS for the nav/menu bar */

/* Style for the logo in nav bar */
.nav-image {
  text-align: center;
  width: 3rem;
  height: auto;
  padding-left: 0.5rem;
}
/* Red color for nav bar */
.color-nav {
  background-color: rgb(170, 10, 0);
}

/* button and font color for dropdown */
#dropdown-button-dark-example1 {
  background-color: black;
  color: white;
}

/* allows the text to respond when user hovers over it */
.active {
  text-decoration: underline;
}

/* handles styling for when the dropdown menu is clicked */
.dropdown {
  width: auto;
}

.dropdown-name-full{
  display: none;
}

.dropdown-image{
  display: none;
}

.dropdown-text {
  float: left;
  vertical-align: middle;
}

/* handles sizing of the dropdown as the page shrinks and expands */
@media (min-width:480px) {


}

@media (min-width:768px) {
  .dropdown {
    width: 200px;
  }
  
  .dropdown-name-short{
    display: none;
  }
  .dropdown-name-full{
    display:inline;
  }

  .dropdown-image {
    display: inline;
    width: 3rem;
  }

  .dropdown-text {
    float: right;
    vertical-align: middle;
  }

}
