/* CSS for quiz page */
/* outer margins for the qiz buttons */
.btn-pad{
    margin-left: 2em;
    margin-right: 2em;
}

/*these buttons are wack, right side of view
results pad is strangely larger than other side*/

/* Styling for the 2 buttons at the end of the quiz */
.btns{
    margin: auto;
    width: 80%;
    padding: 10px;
}

/* Responsive css */
@media (min-width: 768px) {

    .instructions{
        text-align: center;
    }

}
