
.flex-container { /* my flexbox container class */
    display: flex;
    padding: 0.5em;
}

.pieChart{
    flex-grow: 2;
}

.results-page{
    margin: 1.5em;
}

/* .top-result { 
    flex-wrap: wrap;
    flex-shrink: 3;
    overflow-wrap: break-word;
    hyphens: auto;
    flex-basis: 50%;
    flex-shrink: 30;
} */



/* .flex-item {
    /*flex-grow: 1; /* get 1 share of extra space */
    /*flex-shrink: 0;  do not shrink if items overflow container */
   /*flex-basis: 33%;  take up 33% of parent initially 
} */

