
.flex-container { /* my flexbox container class */
    display: flex;
    padding: 0.5em;
    flex-direction: column;
}

h2, p{
    text-align: center;
}


.pieChart{
    flex-shrink: 0; /* do not shrink if items overflow container */
    flex-basis: 66%; /* take up 66% of parent initially */
}

@media (min-width:786px){
    .flex-container {
        flex-direction: row;
    }

    h2, p{
        text-align: left;
    }

}

